<web-app>
    <display-name>Tienda web app</display-name>

    <context-param>
        <description>Ruta donde guardar las imágenes</description>
        <param-name>image-path</param-name>
        <param-value>/Users/Jesus/Desktop/apache-tomcat-10.1.7/webapps/tienda_data</param-value>
    </context-param>
</web-app>